h1{
	text-align: center;
	font-size: 2.5rem;
}

form{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5vh;
}

label{
	margin-bottom: 5vh;
}
.bioAndFeedback{
	text-align: center;
	width: 60%;
	font-size: 1.2rem;
	margin: 2.5% 0;
	margin-left: 20%;
}

.submit{
	width: 10rem;
	height: 5vh;
}