*{
  box-sizing: border-box;
  
  text-align: center;
}

body{
  min-width: 375px;
}
nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #1EBA4D;
}

.link{
  text-align: center;
  color: #000000;
  background-color: #1EBA4D;
  font-size: 1.4rem;
  width: 20%;
  text-decoration: none;
  margin: 1% 0;
  padding: 0.5rem;
  transition: border 1s;
}

.link:hover{
  color: #fff;
  background-color: #093B18;
}