*{
  box-sizing: border-box;
  
  text-align: center;
  color: #040084;
}
body{
  background-color: #00843e;
}

nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #Cf4201;
}

.link{
  text-align: center;
  color: #000000;
  background-color: #fecc98;
  font-size: 1.4rem;
  width: 10rem;
  border: 2px solid #fd7f00;
  text-decoration: none;
  margin: 1% 0;
  transition: border 1s;
}

.link:hover{
  color: #fd7f00;
  background-color: #e31c23;
  border: 2px solid #040084;
}