*{
  box-sizing: border-box;
}

h2{
  font-size: 2.5rem;
}

h3{
  margin-bottom: 5vh;
}

.homeImgFrame{
  width: 26%;
  margin-bottom: 5vh;
  height: 60vh;
}

.homeImgContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.homeImg{
  width: 100%;
  height: 50vh;
}

.homeImgCaption{
  font-size: 2rem;
}

.linkShopContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkShop{
  text-align: center;
  color: #fff;
  background-color: #1EBA4D;
  font-size: 1.4rem;
  text-decoration: none;
  margin: 1% 0;
  transition: border 1s;
  width: 10rem;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.linkShop:hover{
  background-color:  #093B18;
}